<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
      <div class="container-sm">
        <h1 id="project-title">Welcome <%= name %> </h1>
        <div class="container-fluid" style="align-content: start;">
          <h2>Information visible to others on your profile:</h2>
          <h3>Name: <small class="text-body-secondary" id="user-name"><%= name %></small></h3>
          <h3>Profile description: <small class="text-body-secondary" id="user-description"><%= description %></small></h3>
          <div class="mb-5"></div>
          <form id="sendText">
            <label for="add-description" class="form-label">Edit description</label>
            <textarea class="form-control" id="add-description" rows="3" style="width: 50rem;" ></textarea>
            <div class="mt-2"></div>
            <button type="button" class="btn btn-success" style="width: 8rem;" id="save-text" onclick="saveText()">Save</button>
          </form>
          <div class="mb-5"></div>
          <% if(candidateValue === 0) { %>
          <div id="candidate-text">
            <h2>Do you want to run as candidate in the presidential elections?</h2>
            <h3><small class="text-body-secondary">(Note: This decision is final and cannot be changed later)</small></h3>
            <h3><a href="#" style="color: green;" onclick="userParticipates()">YES</a>/<a href="#" style="color: green;" onclick="showList()">NO</a></h3>
          </div>
          <% } else { %>
          <div>
            <h2>List of candidates:</h2>
            <div class="mb-3"></div>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item" id="row-size">CANDIDATE NAME</li>
              <li class="list-group-item" id="row-size">VOTES</li>
            </ul>
            <%- include('../user/candidate-list'); %>
          </div>
          <% } %>
          <div id="table">
            <h2>List of candidates:</h2>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item" id="row-size">CANDIDATE NAME</li>
              <li class="list-group-item" id="row-size">VOTES</li>
            </ul>
          </div>
          <div id="candidate-list"></div>
        </div>
      </div>
    </div>
  <script src="/stylesheets/bootstrap.min.js"></script>
  <script>
  async function saveText() {
    const textarea = document.getElementById('add-description');
    const descriptionValue = textarea.value;
    const description = document.getElementById('user-description');
    description.innerText = descriptionValue;
    const username = '<%=name%>';
    await fetch('/save/description', {
      method: 'PUT',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ username, descriptionValue }), 
    });
  }

  //show candidates list if the user wants to participate
  async function userParticipates() {
    const candidateMessage = document.getElementById('candidate-text');
    const list = document.getElementById('candidate-list');
    const showTable = document.getElementById('table');
    candidateMessage.style.display = 'none';
    const username = '<%=name%>';
    const response = await fetch('/user/participate', {
      method: 'PUT',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ username })
    });
    const candidatesList = await response.text();
    showTable.style.display = 'block';
    list.innerHTML = candidatesList;
  }

  //show candidates list if the user doesnt participate
  async function showList() {
    const candidateMessage = document.getElementById('candidate-text');
    const list = document.getElementById('candidate-list');
    const showTable = document.getElementById('table');
    candidateMessage.style.display = 'none';
    const response = await fetch('/user/candidates');
    const candidatesList = await response.text();
    showTable.style.display = 'block';
    list.innerHTML = candidatesList;
  }

  async function updateList() {
    await fetch('/user/candidates');
  }
  </script>
  </body>
</html>